body {
	margin:0;
    padding:0;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;	
}

header {
	background: url("../img/header.jpg");
	padding-top: 15px;
	margin-top:-10px;
	position: relative;
}

.logo {
	font-size: 150%;
	margin-right: 480px;
}

ul {
    list-style-type: none;
    padding: 0;
	margin: 0;
    overflow: hidden;
    background-color: transparent;
	margin-top: 10px;
    margin-bottom: 10px;
	text-transform: uppercase;
}

li {
	padding: 0;
    float: left;
}

li a:hover {
    color: gray;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

h1{
	color: white;
	text-transform: uppercase;
	font-size: 250%;
}

hr {
    border-style: inset;
    border-width: 0px;
	color: #585670;
    background-color: #585670;
    height: 1px;
	width: 97%;
	margin-bottom: 65px;
}

.container{
	width: 60%;
	left: 20%;
	position: relative;
}

.head {
	text-align: center;
	left: 10%;
	width: 80%;
	position: relative;
}

.head-text{
	color: white;
	font-size: 100%;
	margin-left: 150px;
    margin-right: 150px;
}

.button_nav {
    background-color: #ed4444;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 2px 2px;
	margin-top: 40px;
	margin-bottom: 50px;
    cursor: pointer;
	text-transform: uppercase;
	font-size: 70%;
}
.button_nav:hover{
	color: black;
}

small {
	font-size: 60%;
}

table.main{
	margin-top: 40px;
	margin-bottom: 50px;
	position: relative;
	padding: 20px;
	border-collapse: separate;
    border-spacing: 15px 15px;
}

td {
	position: relative;
	width: 10%;
	text-align: center;
}

img.main{
	margin-top: 5px;
	margin-bottom: 5px;
}

p.title-image{
	text-transform: uppercase;
	font-size: 75%;
	text-align: center;
}
p.text-image{
	color: gray;
	font-size: 90%;
	font-weight: 500;
}

table.image-grid{
	width:100%;
	margin-top: 30px;
	margin-bottom: -5px;
	position: relative;
	padding: 0px;
}
.image-grid-item{
	width: 445px;
    height: auto;
	position: relative;
	padding: 0px;
	margin:0;
}
footer{
	background-color: rgb(47, 51, 95);
}

p.title-foot{
	text-transform: uppercase;
	font-size: 80%;
	text-align: center;
	color: white;
	padding-top: 50px;
}
p.text-foot{
	color: gray;
	font-size: 90%;
	font-weight: 500;
	padding-bottom: 85px;
}

img.gl{
	padding-bottom: 85px;
}

.footer-end{
	background-color: rgb(47, 51, 75);
	position: relative;
	text-align: center;
	color: gray;
	padding: 10px;
	margin-bottom: 0px;
	font-size: 85%;
}

img.team {
	max-width: 100%;
    height: auto;
	position: relative;
	padding-right: 25px;
	margin:0;
}

table.team {
	position: relative;
	margin-bottom: 100px;
	margin-top: 50px;
	text-align: left;
}

td.team {
	text-align: left;
	margin-left: 15px;
	position: relative;
}

p.team-description {
	color:gray;
	font-size: 90%;
}


p.team-name {
	color:gray;
	font-size: 130%;
}

p.team-position {
	color: red;
	font-size: 80%;
	text-transform: uppercase;
}
